extends layout

block body_content

	button.btn.btn-lg.btn-item.to_show(style="position: absolute; bottom: 100px") 找傢俱？來故宮！

	div#tabs.selector
		img.item.item-1.resize-drag(src="images/1_1.png", style="width: 10%; display: none;")
		img.item.item-1.resize-drag(src="images/1_2.png", style="width: 10%; display: none;")
		img.item.item-2.resize-drag(src="images/2_1.png", style="width: 10%; display: none;")
		img.item.item-2.resize-drag(src="images/2_2.png", style="width: 10%; display: none;")
		img.item.item-3.resize-drag(src="images/3_1.png", style="width: 10%; display: none;")
		img.item.item-4.resize-drag(src="images/4_1.png", style="width: 10%; display: none;")
		img.item.item-4.resize-drag(src="images/4_2.png", style="width: 10%; display: none;")
		img.item.item-5.resize-drag(src="images/5_1.png", style="width: 10%; display: none;")
		img.item.item-5.resize-drag(src="images/5_2.png", style="width: 10%; display: none;")
		img.item.item-6.resize-drag(src="images/6_1.png", style="width: 10%; display: none;")
		img.item.item-6.resize-drag(src="images/6_2.png", style="width: 10%; display: none;")

block body_script
	script.
		$(document).on('ready', function() {
			$('body').attr('id', 'deco');
		});

		$('.to_show').on('click', function() {
			$('.to_show').hide();
			$('.item').show();
			$('.item').css('left', '50px');
			$('.item').css('bottom', '50px');
		})

		interact('.resize-drag')
		.draggable({
			onmove: window.dragMoveListener
		})
		.resizable({
			preserveAspectRatio: true,
			edges: { left: true, right: true, bottom: true, top: true }
		})
		.on('resizemove', function (event) {
			var target = event.target,
					x = (parseFloat(target.getAttribute('data-x')) || 0),
					y = (parseFloat(target.getAttribute('data-y')) || 0);

			// update the element's style
			target.style.width	= event.rect.width + 'px';
			target.style.height = event.rect.height + 'px';

			// translate when resizing from top or left edges
			x += event.deltaRect.left;
			y += event.deltaRect.top;

			target.style.webkitTransform = target.style.transform =
					'translate(' + x + 'px,' + y + 'px)';

			target.setAttribute('data-x', x);
			target.setAttribute('data-y', y);
			target.textContent = Math.round(event.rect.width) + '×' + Math.round(event.rect.height);
		});

		interact('.draggable')
		.draggable({
			inertia: true,
			restrict: {
				restriction: 'parent',
				endOnly: true,
				elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
			},
			autoScroll: true,
			onmove: dragMoveListener,
			onend: function (event) {}
		});

		function dragMoveListener (event) {
			var target = event.target,
				x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
				y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

			target.style.webkitTransform =
			target.style.transform =
				'translate(' + x + 'px, ' + y + 'px)';

			target.setAttribute('data-x', x);
			target.setAttribute('data-y', y);
		}

		window.dragMoveListener = dragMoveListener;
