extends layout

block body_content

	form#upload_form(method="POST", action="/resource/file", enctype="multipart/form-data")
		.col-xs-offset-2.col-xs-8
			label.title.file_subtitle 拍下你的房間上傳！
			input#file_origin.form-control.lockable(type="file", name="file_origin", title="選擇檔案")
			input#file_size(type="hidden", name="size")
			input#file_name(type="hidden", name="name", value="bg_user")
			p(style="color: #fff")='（考量網路傳輸速度，檔案大小不超過 20 MB 為原則）'
		.col-xs-offset-2.col-xs-8
			button.btn.btn-lg.btn-block.btn-upload.to_hide 確定
		.col-xs-offset-2.col-xs-8
			a.btn.btn-lg.btn-block.to_show(href="/deco", style="display: none;") 開始佈置

block body_script
	script(src="/javascripts/bootstrap.file-input.js")
	script(src="/javascripts/jquery.form.js")
	script.
		var original_filename = '';
		$('input[type=file]').bootstrapFileInput();				

		$('#file_origin').on('change', function(event) {
			$('#file_size').val(this.files[0].size);
			original_filename = this.files[0].name;
		});

		$('.btn-upload').on('click', function(event) {
			event.preventDefault();

			var url = $('#upload_form').attr('action');
			var filename = $('input[name="name"]').val();
			if(!original_filename.toLowerCase().match(/(png|jpg|jpeg)$/)) {
				alert('上傳檔案需為圖檔');
				return false;
			}	

			$('#upload_form').ajaxSubmit({
				url: url,
				dataType: 'json',
				success: function(data, status, xhr, form) {
					if(data !=undefined){
						var btn='';
						var tempHref='';
					}
					inform('上傳成功！');
					$('.to_hide').hide();
					$('.to_show').show();
				},
				error: function(xhr, err) {
					alert('上傳失敗');
				}
			});
		});
