extends layout

block body_content
	.index_title= WEBSITE_TITLE
	.index_subtitle= '我的國寶，你的日常'

	img#item.draggable(src="images/item.png", style="width: 20%")

block body_script
	script.
		interact('.draggable')
		.draggable({
			inertia: true,
			restrict: {
				restriction: "parent",
				endOnly: true,
				elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
			},
			autoScroll: true,
			onmove: dragMoveListener,
			onend: function (event) {}
		});

		function dragMoveListener (event) {
			var target = event.target,
				x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
				y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

			target.style.webkitTransform =
			target.style.transform =
				'translate(' + x + 'px, ' + y + 'px)';

			target.setAttribute('data-x', x);
			target.setAttribute('data-y', y);
		}

		window.dragMoveListener = dragMoveListener;